@charset "utf-8";

@font-face {
  font-family: 'Google Sans';
  font-stretch: expanded;
  src: url('./GoogleSans-Regular.ttf') format('truetype')
}
@font-face {
  font-family: 'Google Sans Text';
  font-stretch: expanded;
  src: url('./GoogleSansText-Regular.ttf') format('truetype')
}
@font-face {
  font-family: 'Noto Sans SC';
  font-stretch: expanded;
  src: url('./fonts/noto-sans-sc-v11-latin_chinese-simplified-regular.woff2') format('woff2')
}

#tooltip {
    position: absolute;
    width: auto;
    height: auto;
    background-color: white;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    pointer-events: none;
    font-family: Arial;
    font-size: 18px;
    z-index: 2;
}

.tooltipTable {
  font-family: Google Sans,Google Sans Text,Open Sans,Helvetica,Arial,sans-serif;
  border: 0px;
  border-collapse: collapse;
  table-layout: auto;
  font-size: 18px;
}

.focus {
  font-weight: bold;
  font-size: 18px;
}

.hidden {
    display: none;
}

.hover {
}

.reportTable {
  font-family: Google Sans,Google Sans Text,Open Sans,Helvetica,Arial,sans-serif;
  table-layout: fixed;
  font-size: 18px;
  column-width: 200px;
}

#reportTable > tbody > tr:nth-child(even) {
  background-color: #efefef;
}

th.headerCell {
  border-bottom: 1px solid #000000 !important;
  font-weight: bold;
  background-color: #d1d1d1;
  color: #000000;
  font-size: 18px;
  column-width: 200px;
}

.headerCell.merged {
  text-align: center !important;
  background-color: #d1d1d1;
  color: #000000;
  font-size: 18px;
  column-width: 200px;
}

.headerCell.transposed.dimension.merged {
  text-align: center !important;
  background-color: #d1d1d1;
  color: #000000;
  border-bottom: 1px solid #000000 !important;
  font-weight: bold;
  font-size: 18px;
  column-width: 200px;
}

.indexCell.transposed {
}

.indexCell.transposed.merged {
}

.rowCell {
  vertical-align: super;
  border-bottom: 1px solid #000000;
  font-size: 18px;
  column-width: 200px;
}

.rowCell.merged {
  background-color: #cccccc;
  border-bottom: 2px solid #000000;
  font-weight: bold;
  font-size: 18px;
  column-width: 200px;
}

.rowCell.transposed.dimension.merged {
  background-color: #cccccc;
  border-bottom: 2px solid #000000;
  font-weight: bold;
  font-size: 18px;
  column-width: 200px;
}

.nonNumeric {
  text-align: left;
  font-size: 18px;
}

.numeric {
  text-align: right;
  font-size: 18px;
}

.negative {
  color: red;
}

.estimate {
  color: darkgray !important;
}

.singleIndex {
  padding-left: 15px !important;
}

.subtotal {
  font-style: italic;
  font-weight: bold !important;
}

.total {
  border-top: 2px solid #000000;
}

.metric1 {
  border-top: 2px solid #000000;
}

.metric2 {
  border-top: 1px solid #000000;
  font-style: italic;
}

.divider {
  border-bottom: 2px solid #000000;
}

.colTotal {
    border-right: 1px solid #000000;
    border-left: 1px solid #000000;
    background-color: #E8EAED;
    font-size: 18px;
}

.total.transposed {
  border-top: 0px !important;
}

.dimension.transposed {
}

.rectElem.animated {
  font-family: Open Sans,Helvetica,Arial,sans-serif;
}

.headerCell.animated {
  font-weight: bold;
  box-sizing: border-box;
}
